In [22]:
import pandas as pd
from player_class import player

In [23]:
df = pd.read_csv("rnfile.csv")

In [28]:
df

,Unnamed: 0,Rk,Age,Date,Tm,Unnamed: 4,Opp,Unnamed: 6,PTS,GS,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,GmSc,BPM
0,0,1,25-353,2021-02-06,DEN,@,SAC,L,50,1,...,1,7,8,12,1,3,1,2,47.4,27.3
1,1,2,26-334,2022-01-19,DEN,NaN,LAC,W,49,1,...,7,7,14,10,3,1,5,4,48.2,24.4
2,2,3,25-347,2021-01-31,DEN,NaN,UTA,W,47,1,...,3,9,12,5,2,1,3,2,42.4,20.5
3,3,4,24-321,2020-01-06,DEN,@,ATL,W,47,1,...,4,4,8,5,2,1,0,3,42.9,24.7
4,4,5,26-059,2021-04-19,DEN,NaN,MEM,W,47,1,...,7,8,15,8,0,1,7,3,38.3,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,500,501,20-317,2016-01-02,DEN,@,GSW,L,0,1,...,0,1,1,1,0,0,2,2,-1.8,-25.0
501,501,502,21-000,2016-02-19,DEN,@,SAC,L,0,1,...,0,1,1,0,0,0,1,4,-2.3,-36.4
502,502,503,21-022,2016-03-12,DEN,NaN,WAS,W,0,1,...,0,5,5,3,0,0,2,4,0.0,-5.3
503,503,504,21-268,2016-11-13,DEN,@,POR,L,0,0,...,0,5,5,3,1,1,2,5,-0.8,-8.4
504,504,505,22-244,2017-10-21,DEN,NaN,SAC,W,0,1,...,0,9,9,7,1,0,3,4,1.9,-5.1

In [32]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [33]:
df

,Rk,Age,Date,Tm,Unnamed: 4,Opp,Unnamed: 6,PTS,GS,MP,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,GmSc,BPM
0,1,25-353,2021-02-06,DEN,@,SAC,L,50,1,41,...,1,7,8,12,1,3,1,2,47.4,27.3
1,2,26-334,2022-01-19,DEN,NaN,LAC,W,49,1,41,...,7,7,14,10,3,1,5,4,48.2,24.4
2,3,25-347,2021-01-31,DEN,NaN,UTA,W,47,1,37,...,3,9,12,5,2,1,3,2,42.4,20.5
3,4,24-321,2020-01-06,DEN,@,ATL,W,47,1,37,...,4,4,8,5,2,1,0,3,42.9,24.7
4,5,26-059,2021-04-19,DEN,NaN,MEM,W,47,1,45,...,7,8,15,8,0,1,7,3,38.3,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,501,20-317,2016-01-02,DEN,@,GSW,L,0,1,5,...,0,1,1,1,0,0,2,2,-1.8,-25.0
501,502,21-000,2016-02-19,DEN,@,SAC,L,0,1,4,...,0,1,1,0,0,0,1,4,-2.3,-36.4
502,503,21-022,2016-03-12,DEN,NaN,WAS,W,0,1,17,...,0,5,5,3,0,0,2,4,0.0,-5.3
503,504,21-268,2016-11-13,DEN,@,POR,L,0,0,26,...,0,5,5,3,1,1,2,5,-0.8,-8.4
504,505,22-244,2017-10-21,DEN,NaN,SAC,W,0,1,31,...,0,9,9,7,1,0,3,4,1.9,-5.1

In [34]:
df.sort_values('Date', ascending=False)

,Rk,Age,Date,Tm,Unnamed: 4,Opp,Unnamed: 6,PTS,GS,MP,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,GmSc,BPM
20,21,26-362,2022-02-16,DEN,@,GSW,W,35,1,34,...,5,12,17,8,1,0,5,3,29.7,15.2
123,124,26-360,2022-02-14,DEN,NaN,ORL,W,26,1,35,...,5,10,15,7,1,0,5,2,18.4,1.0
83,84,26-358,2022-02-12,DEN,@,TOR,W,28,1,35,...,5,10,15,6,0,2,4,1,27.7,11.9
157,158,26-357,2022-02-11,DEN,@,BOS,L,23,1,34,...,5,11,16,11,0,2,9,2,17.9,9.3
223,224,26-354,2022-02-08,DEN,NaN,NYK,W,21,1,30,...,3,8,11,7,0,0,6,2,16.2,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,481,20-260,2015-11-06,DEN,@,GSW,L,4,0,17,...,2,2,4,1,1,1,1,1,4.2,-2.8
475,476,20-259,2015-11-05,DEN,NaN,UTA,L,5,0,18,...,1,2,3,0,0,1,1,1,2.8,-6.9
427,428,20-255,2015-11-01,DEN,@,OKC,L,8,0,24,...,3,1,4,0,0,0,1,2,3.9,-9.6
400,401,20-253,2015-10-30,DEN,NaN,MIN,L,10,0,18,...,3,6,9,1,0,0,2,3,7.8,3.2
493,494,20-251,2015-10-28,DEN,@,HOU,W,2,0,4,...,0,0,0,0,0,0,1,0,0.7,-7.8

In [65]:
df.iloc[:, 7:33]

,PTS,GS,MP,FG,FGA,FG%,2P,2PA,2P%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,GmSc,BPM
0,50,1,41,20,33,0.606,17,27,0.630,3,...,1,7,8,12,1,3,1,2,47.4,27.3
1,49,1,41,16,25,0.640,13,20,0.650,3,...,7,7,14,10,3,1,5,4,48.2,24.4
2,47,1,37,17,26,0.654,13,22,0.591,4,...,3,9,12,5,2,1,3,2,42.4,20.5
3,47,1,37,16,25,0.640,12,17,0.706,4,...,4,4,8,5,2,1,0,3,42.9,24.7
4,47,1,45,20,31,0.645,18,25,0.720,2,...,7,8,15,8,0,1,7,3,38.3,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,0,1,5,0,0,NaN,0,0,NaN,0,...,0,1,1,1,0,0,2,2,-1.8,-25.0
501,0,1,4,0,0,NaN,0,0,NaN,0,...,0,1,1,0,0,0,1,4,-2.3,-36.4
502,0,1,17,0,0,NaN,0,0,NaN,0,...,0,5,5,3,0,0,2,4,0.0,-5.3
503,0,0,26,0,3,0.000,0,3,0.000,0,...,0,5,5,3,1,1,2,5,-0.8,-8.4
504,0,1,31,0,3,0.000,0,2,0.000,0,...,0,9,9,7,1,0,3,4,1.9,-5.1

In [56]:
this_game

   Age Pos  games played
0    3   c            22

In [43]:
df1

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,C,Nikola Jokic (21388574),Nikola Jokic,21388574,C/UTIL,12500,DEN@SAC 02/24/2022 10:00PM ET,DEN,60.35
1,SF,Kevin Durant (21388576),Kevin Durant,21388576,SF/F/UTIL,11000,BOS@BKN 02/24/2022 07:30PM ET,BKN,50.66
2,PF,DeMar DeRozan (21388579),DeMar DeRozan,21388579,PF/F/UTIL,10700,ATL@CHI 02/24/2022 08:00PM ET,CHI,43.97
3,PG,Ja Morant (21388582),Ja Morant,21388582,PG/G/UTIL,10400,MEM@MIN 02/24/2022 08:00PM ET,MEM,47.06
4,PG,Stephen Curry (21388585),Stephen Curry,21388585,PG/G/UTIL,10200,GSW@POR 02/24/2022 10:00PM ET,GSW,46.53
...,...,...,...,...,...,...,...,...,...
328,PF/C,Juan Toscano-Anderson (21389677),Juan Toscano-Anderson,21389677,PF/C/F/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,GSW,12.24
329,PG,Chris Chiozza (21389681),Chris Chiozza,21389681,PG/G/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,GSW,6.85
330,PG,Nico Mannion (21389684),Nico Mannion,21389684,PG/G/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,GSW,0.00
331,SF,Axel Toupane (21389687),Axel Toupane,21389687,SF/F/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,GSW,0.00
332,PG,Quinndary Weatherspoon (21389690),Quinndary Weatherspoon,21389690,PG/G/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,GSW,5.40

In [52]:
f = df1.iloc[0,6].split(' ')[0].split('@')[1]

In [82]:
import pickle
load_file = open('Teams_emb.pickle', 'rb')
positions = pickle.load(load_file)

In [84]:
len(positions.keys())

38

In [85]:
s = 'BKN'
positions
if s not in positions.keys():
    positions[s] = len(positions.keys())+1
    pickle.dump(positions, open('Teams_emb.pickle', 'wb'))
else:

In [87]:
load_file = open('Teams_emb.pickle', 'rb')
p = pickle.load(load_file)

In [106]:
if 'SG' in 'SG/G/UTIL':
    print('f')

f

In [89]:
load_file = open('Teams_emb.pickle', 'rb')
tms = pickle.load(load_file)

In [108]:
jj = [8, 9, 9, 9]
print(jj.pop(0))

8

In [92]:
df = pd.read_csv('dks.csv')

In [94]:
tmlst = df['TeamAbbrev'].drop_duplicates().sort_values()

In [95]:
tmkeys = p.keys()
for i in tmlst:
    if i not in tmkeys:
        print(i)

PHX

In [96]:
p['BKN'] = 3
p['PHX'] = 29

In [97]:
p

{'ATL': 1,
 'BOS': 2,
 'BRK': 3,
 'CHA': 4,
 'CHH': 5,
 'CHI': 6,
 'CHO': 7,
 'CLE': 8,
 'DAL': 9,
 'DEN': 10,
 'DET': 11,
 'GSW': 12,
 'HOU': 13,
 'IND': 14,
 'LAC': 15,
 'LAL': 16,
 'MEM': 17,
 'MIA': 18,
 'MIL': 19,
 'MIN': 20,
 'NJN': 21,
 'NOH': 22,
 'NOK': 23,
 'NOP': 24,
 'NYK': 25,
 'OKC': 26,
 'ORL': 27,
 'PHI': 28,
 'PHO': 29,
 'POR': 30,
 'SAC': 31,
 'SAS': 32,
 'SEA': 33,
 'TOR': 34,
 'UTA': 35,
 'VAN': 36,
 'WAS': 37,
 'WSB': 38,
 'BKN': 3,
 'PHX': 29}

In [98]:
pickle.dump(p, open('Teams_emb.pickle', 'wb'))

In [109]:
df4 = pd.read_csv('DKS3.csv')

In [110]:
df4

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,C,Nikola Jokic (21390782),Nikola Jokic,21390782,C/UTIL,12500,DEN@SAC 02/24/2022 10:00PM ET,DEN,60.35
1,PG,Stephen Curry (21390670),Stephen Curry,21390670,PG/G/UTIL,10200,GSW@POR 02/24/2022 10:00PM ET,GSW,46.53
2,PG,Damian Lillard (21390686),Damian Lillard,21390686,PG/G/UTIL,9100,GSW@POR 02/24/2022 10:00PM ET,POR,42.60
3,PF/C,Domantas Sabonis (21390802),Domantas Sabonis,21390802,PF/C/F/UTIL,9000,DEN@SAC 02/24/2022 10:00PM ET,SAC,44.45
4,C,Jusuf Nurkic (21390780),Jusuf Nurkic,21390780,C/UTIL,8600,GSW@POR 02/24/2022 10:00PM ET,POR,36.15
...,...,...,...,...,...,...,...,...,...
86,PF,Alen Smailagic (21390924),Alen Smailagic,21390924,PF/F/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,GSW,0.00
87,SG,Didi Louzada (21390927),Didi Louzada,21390927,SG/G/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,POR,2.00
88,PG,Nico Mannion (21390941),Nico Mannion,21390941,PG/G/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,GSW,0.00
89,SG/SF,Moses Moody (21390952),Moses Moody,21390952,SG/SF/F/G/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,GSW,6.09
90,SG,Keon Johnson (21390957),Keon Johnson,21390957,SG/G/UTIL,3000,GSW@POR 02/24/2022 10:00PM ET,POR,7.65

In [6]:
import pickle
loads = open('temp x', 'rb')

In [8]:
x = pickle.load(loads)

EOFError: Ran out of input